.btn {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--bs-btn-padding-x) / 2);

  font-weight: 500;
  text-transform: uppercase;

  &.btn-link {
    text-decoration: none;

    &:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, .12), rgba(0, 0, 0, .12));
    }
  }
}

.buttons {
  & > * {
    margin-right: .75rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.block-buttons {
  display: grid;
  gap: 0.5rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 5px 15px rgba(0, 0, 0, 0.2);

  .btn {
    display: block;
  }
}
